 @media (max-width: $screen-sm-max) {
     // Tablet
     .content2 {
         height: 78px !important;
     }
     .client_name {
         font-size: 20px;
     }
     .imAb {
         width: 230px;
     }
     .disp {
         font-weight: 600;
         font-size: 16px;
         color: #fff;
         background-image: url(../img/btn-bg.png);
         background-repeat: no-repeat;
         background-size: 100% 100%;
         padding: 5px 32px;
         margin: 0;
         display: inline-block;
     }
     .disp2 {
         font-size: 34px;
         margin: 0;
         color: #0b325b;
         font-weight: bolder;
     }
     .p {
         font-size: 12px;
     }
     .margleft {
         margin-left: 70px;
     }
     .p2 {
         font-size: 43px;
     }
 }