<div id="loader" class="spinner-overlay"><img class="spinner" src="img/loader.gif" /></div>
<!-- START BANNER -->
<div class="container">
    <div class="row">
        <img alt="activity" class="img-responsive " src="img/activity.jpg">
    </div>
</div>
<!--END BANNER -->
<!-- START  ACTIVITY -->
<div class="container">
    <div class="row">
        <div class="col-md-12 pd50 activi">
            <div class="category">
                <!-- START DROP DOWN -->
                <!-- <div class="row">
                    <div class="col-md-12">
                        <form>
                            <div class="form-group select-main display-inline">
                                <select class="bluecol form-control" ng-options="option.name for option in myDropdown" ng-model="selectedItem" ng-change="changeDestination(selectedItem._id)">
                                    <option value="">Select All</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div> -->
                <!-- END DROP DOWN -->
                <div>
                    <div class="row">
                        {{getActivity.smallImage}}
                        <div class="col-md-4 col-sm-4 col-xs-12 padd15px " ng-repeat="smallImg in  getActivity track by $index">
                            <div class="flipDiv">

                                <figure>
                                    <div class="front">
                                        <img alt="{{smallImg.name}}" title="{{smallImg.name}}" ng-src="{{smallImg.image}}" alt="" class="maxwidth img-responsive">
                                        <div class="shadow-down"></div>
                                        <div class="event-name">
                                            <span>{{smallImg.name}}</span>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ERROR BOX -->
                <div ng-if="showBttn.length==0">
                    <h4 class="nodata">No data Found</h4>
                </div>
                <!-- START VIEW MORE BUTTON -->
                <!-- <div class="load-more text-center" ng-hide="showBttn.length==0">
                    <div class="over-layer pdt30 pdb30">
                        <div class="button-holder">
                            <button class="ext-detail" ng-click="loadMoreActivities()" ng-if="viewMore">View More</button>
                            <button class="ext-detail" ng-if="viewLess && !viewMore && saveDestId ==undefined" ng-click="loadLessActivities()">View Less</button>
                            <button class="ext-detail" ng-if="viewLess && !viewMore && saveDestId !=undefined" ng-click="changeDestination(saveDestId);">View Less</button>
                        </div>
                    </div>
                </div> -->
                <!-- END MORE BUTTON  -->
            </div>
        </div>
    </div>
</div>
<!-- END ACTIVITY -->